.header,.hobbies-header{
    text-align: center;
}
.body{
    margin: auto;
    height: 50%;
    width: 50%;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

h2 {
    justify-content: center; 
    align-items: center;
    text-align: left;
}

.travel-list {
    list-style: none;
    padding: 0;
    text-align: center;
}


.travel-list li {
    margin: 20px 0;
}

.travel-pic {
    width: 200px; 
    height: auto; 
    border-radius: 10px;
    display: block;
    margin: 0 auto;
}

.travel-list p {
    font-size: 18px;
    margin-top: 10px;
}


.dream-cars-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.dream-cars-list li {
    margin: 20px 0;
}

.car-pic {
    width: 250px;
    height: auto;
    border-radius: 10px; 
    display: block;
    margin: 0 auto;
}

.dream-cars-list p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}